@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Academic system</h1>
    <p>Here you can get information about the subjects being taught by difrent teachers and see grades that you get after completing youre subject .</p>
</div>
